body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('loginbackground.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 250px; 
}

form {
    display: flex;
    flex-direction: column;
}

h2, h4 {
    margin: 0 0 10px; 
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #ddd;
}

input {
    margin-bottom: 10px;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

input:focus {
    border-color: #007bff;
    background: rgba(255, 255, 255, 0.3);
}

button {
    background: #002c5c;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #002042;
}
