body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('loginbackground.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

h4 {
    margin: 0 0 20px;
    font-size: 1.0em;
}

.g_id_signin {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
