body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('blurredbackground.png') no-repeat center center fixed;
}

.settings-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.setting-item {
    margin-bottom: 15px;
}

#panic-key {
    padding: 5px;
    font-size: 16px;
}
