body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    background-color: white;
}

.keys button {
    width: 50px;
    height: 50px;
    margin: 5px;
}

input[type="text"] {
    width: 218px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}
