body,
html {
    margin: 0;
    cursor: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

canvas {
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

.menu {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100vh;
    color: white;
    font-size: 5rem;
    top: 20%;
    left: 25%;
}

#difficulty,
.submit-btn {
    font-size: 20px;
}

.canvas-web {
    display: none;
}